








/* logo */

/* site nav */



/* list */

/*  hero  */




/* button-secondary */





/* section */


/* feature */

/* CSS Icons */



/* product */



/* team */


/* footer */
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primari-hero-color);
  align-items: baseline;
}
.fotter {
  padding-right: 70px;
}
.adress-section {
  margin-top: 20px;
  margin-bottom: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primari-white-color);
}
.link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primari-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  color: var(--primari-accent-color);
}
.link:focus {
  color: var(--primari-accent-color);
}
.link-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-item:not(:last-child) {
  margin-bottom: 9px;
}
.link-footer:hover {
  color: var(--primari-accent-color);
}
.link-footer:focus {
  color: var(--primari-accent-color);
}

.footer-icons {
  display: flex;
}

.fotter-container {
  display: flex;
}

.footer-icon {
  width: 20px;
  height: 20px;
}
.footer-icon-link {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--primari-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  border-radius: 50%;
  background-color: #2196f3;
}
.footer-item {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primari-white-color);
}

.footer-link{
  padding-right: 93px;
}
/* clients */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-icons {
  display: flex;
}

.clients-icon {
  width: 106px;
  height: 60px;
  margin: 16px 32px;
  fill: currentColor;
  transition: fill 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list {
  width: 170px;
  height: 92px;
  display: block;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.clients-list:last-child {
  margin-right: 0;
}
.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 1000ms cubic-bezier(0.4, 0, 0.2, 1), border-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--primari-accent-color);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--primari-accent-color);
}
  


.email-submit{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: white;

}

.email-item{
  border: 1px solid rgba(255, 255, 255, 0.3);
width: 358px;
height: 50px;
padding: 15px 16px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
  color: white;
  background-color:transparent;
  margin-right: 12px;
}
.footer-btn{
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 62px;
  display: inline-block;
  margin: 0 auto;
  background-color: #2196f3;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.87;
}
.icon-send{
  position: absolute;
  display: flex;
  width: 24px;
  height: 24px;
  top:13px;
  left: 138px;
  fill: white;
}
/* overlay */

/* .overlay {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay/overlay-hero.jpg);
} */
