.product-class {
    display: flex;
  }
  
  .product-tittle {
    margin-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primari-tittle-color);
  }
  
  .product-list {
    position: relative;
    margin-right: 30px;
    &:last-child {
        margin-right: 0;
      }
  }
  
  .product-text {
    position: absolute;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
  }
  .product-submenu {
    position: relative;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: white;
    padding: 27px 82px;
  }
  .submenu-wrapper {
    position: relative;
    overflow: hidden;
  }
  /* portfolio */
  .product-section-portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .product-item {
    position: relative;
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    transition-property: bacground-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      }
  }
  
  .product-item{
  &:hover .submenu {
        display: block;
        color: white;
        transform: translateY(0%);
      }
  }

  
  .product-tittle-portfolio {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--primari-tittle-color);
  }
  .product-list-portfolio {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--primari-text-color);
  }
  .product-portfolio {
    padding: 20px 24px;
  }
  .submenu {
    position: absolute;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    left: 0;
    top: 0;
    transform: translateY(100%);
    transition: transform 250ms ease;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
  }
  
  .submenu-link {
    position: relative;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }