.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #f5f4fa;
  }
  .team-tittle {
    margin-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primari-tittle-color);
  }
  .description {
    color: var(--primari-tittle-color);
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
  }
  .team-class {
    display: flex;
  }
  .team-list {
    background-color: #fff;
    margin-right: 30px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:last-child {
        margin-right: 0;
      }
  }
  
  .class {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .team-icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover  ,
    &:focus {
    background-color: var(--primari-accent-color);
  }
  &:hover .team-icon,
  &:focus .team-icon {
    color: #ffffff;
  }
}
  
  
  
  