.section {
    padding-top: 47px;
    padding-bottom: 47px;
  }
  
  .section-tittle {
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primari-tittle-color);
  }
  .cards-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .product-section {
    display: flex;
    padding-bottom: 94px;
  }